.footer{
  background: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box{
  display: flex;
  align-items: baseline;
}

.footer-contacts{
  margin-top: 20px;

}


.footer-list{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-contact{
  color: var(--footer-contact);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;  
}

.footer-item:first-child>.footer-contact{
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;  
}

.logo-second-footer{
  color: var(--main-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;  
}

.footer-boxtwo{
  margin-left: 80px;
}

.footer-tittle{
  color: var(--main-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.footer-items{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.footer-link{
    width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(255, 255, 255, 0.10);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover{
  background-color: var(--accent-color);
}

.footer-icon{
  width: 20px;
height: 20px;
fill: var(--main-color);
}

.footer-boxfree{
  margin-left: auto;
}

.footer-text{
  color: var(--main-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
align-items: baseline;
margin-bottom: 20px;
}

.footer-form{
  display: flex;
}

.footer-input{
  width: 358px;
height: 50px;
background: var(--footer-background);
border: 1px solid rgba(255, 255, 255, 0.30);
border-radius: 4px;
}

.footer-btn{
  width: 200px;
height: 50px;
border-radius: 4px;
background: var(--accent-color);
border: var(--accent-color);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; 
letter-spacing: 0.96px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 12px;
}

.footer-send{
 width: 24px;
height: 24px;
margin-left: 10px;
fill: var(--main-color);
}